* {
	margin: 0;
	padding: 0
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.flex {
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
}

._space-between {
	justify-content: space-between;
}

._direction-column {
	flex-direction: column;
}

._justify-center {
	justify-content: center;
}
.container {
	margin: 0 auto;
	padding: 0 20px;
	min-width: 300px;
	max-width: 900px;
	animation: fadeup 1.5s;
	-webkit-animation: fadeup 1.5s;
	-moz-animation: fadeup 1.5s;
}
body {
	font-family: 'Roboto', sans-serif;
}
header {
	padding: 50px 0;
}

header a {
	letter-spacing: 1px;
	padding: 0 10px;
	text-decoration: none;
	color: #000;
	font-weight: 300;
}

header span {
	letter-spacing: 1px;
	color: #BDBDBD;
	font-weight: 300;
}

h1 {
	padding: 100px 0;
	max-width: 550px;
	line-height: 1.5;
	font-weight: 500;
}

.work-container img {
	width: 100%;
}

.work-container h2 {
	padding-top: 40px;
    font-size: 20px;
    font-weight: 500;
}
.work-container p {
    padding: 15px 0 150px 0;
    line-height: 1.8;

}


@media (max-width: 500px) {
	h1 { font-size: 20px;}
}